body, html {
	height: 100%;
	background: #000030;
	position: relative;
	z-index: -10000;
}

canvas, #score {
	position: absolute;
	left: 0;
	top: 0;
}

#walls {
	z-index: -1;
}

#score {
	color: lightgray;
	font-weight: bold;
	padding: 0.2rem;
}
